.app {
font-family:cursive;
}

h4{
margin-top: 0;
margin-bottom: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    /* background-color: yellow; */
    /* color: rgb(75, 42, 219); */
}

.img-logo {
    height: 100px;
}


.nav-items > ul {
    display: flex;
    list-style-type: none;
}

 .nav-items > ul > li { 
    padding: 10px;
    margin: 10px;
    padding: 0px 5px;  
    font-size: 24px;
} 

.res-logo {
    width: 100%;
    border-top: 1px solid black;
    border-radius: 20px;
    max-height: 400px;
    object-fit: cover;

}

.res-card-text {
align-items: center;
padding-left: 10px;
padding-right: 10px;
}
.res-card {
    width: 400px;
    border-radius: 20px;
    height: auto;
    /* border: 1px solid black; */
    margin: 16px;
    padding: 0px ;
    color: white;
}


.res-card:hover{
    cursor: pointer;
    border:  1px solid black;
}
.res-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.res-container2 {
    display:flex;
}

.search {
    /* padding: 10px ;
    border: 1px solid gray;
    color: gray;
    border-radius: 10px;
    width: 150px;
    align-items: center ;
    margin: 20 0 0 600;
    padding: 20 600 20 20; */
    
}

.search-input{
    font-family: cursive;
    width: inherit;
    height: inherit;
    border-color: transparent;
    padding: 10px ;
    border: 1px solid gray;
    color: gray;
    border-radius: 10px;
    width: 150px;
    align-items: center ;
    margin: 20 0 0 600;
    padding: 20 600 20 20;
    color: black;

}

.search-input:focus {
    border: 1px solid gray;

}

.fiter-btn {
    background-color: black;
    color: white;
    border-radius: 10%;
    margin: 20 0 0 60;
    width: 100px;
    font-family: cursive;
    height: 60px;
    margin-left: 15px;
    cursor: pointer;

}


.filter-search {
    display: flex;
}

.loaderComponent {
  border: 4px solid #f3f3f3;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  /* Positioning styles for centering if needed */
  margin: auto;
  /* display: block;  */
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.shimmer-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;


    /* justify-content: center; */
}
.shimmer-card{
    width: 400px;
    height: 550px;
    background-color: #f0f0f0;
    margin: 16px;
    border-radius: 20px;
}
